@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Aplica o alinhamento por blocos apenas em telas de desktop (min-width: 768px) */
@media (min-width: 768px) {
  html {
    scroll-snap-type: y mandatory;
  }
}

body {
  background-color: #0f172a;
  color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}